
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html, body {
    padding: 0px;
    margin : 0px;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: darkslategrey;
    text-align: center;
    
}
.flex-container{
    display: flex;
    flex-flow: row;
    align-content: space-between; 
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-evenly;
}
.fejleckep{
    background-image: url(../img/komuves-1.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ul{
    list-style: square;
    list-style-position: inside;
    
}
nav{
    font-weight: bold;
    background-color:#bf6f39;
    font-size: 50px;
    border-top: 2px solid black;
    border-bottom:2px solid black ;
}
a{
    background-color: #f76300;
    color: white;
    text-decoration: none;
    transition: 250ms ease-in-out ;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
a:active{
    background-color:darkred;
}
a:hover{
    background-color: darkgreen;
    text-shadow: 2px 2px black;
    transition: 250ms ease-in-out ;
}
#Fooldal{
    background-color: darkred;
}
#Fooldal:hover{
    background-color:darkgreen;
}

.flex-container>img{
    height: 250px;
    width: 250px;
    
}
.szoveg{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(211, 127, 32);
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 50px;
}
footer{
    background-color:rgb(211, 127, 32) ;
    margin-top: 100px;
    border: 2px solid black;
    
}